html,
body {
    margin: 0;
    padding: 0;
}


#toggle-button {
    font-size: 4vw;
    font-weight: bold;
    position: fixed;
    right: 0;
    color: black;
    transition: .3s;
    z-index: 4;
    right: 1.3vw;
}

#toggle-button:hover {
    color: greenyellow;
    cursor: pointer;
}

#nav {
    margin: 0;
    padding: 0;
    display: block;
    background-color: black;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 3;
    /* align the box from RIGHT so it changes width from RIGHT */
    width: 0px;
    transition: .5s;
}

.link1 {
    position: relative;
    padding-left: 43vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;
    text-align: center;

}

.link2 {
    position: relative;
    padding-left: 25vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link3 {
    position: relative;
    padding-left: 30vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link4 {
    position: relative;
    padding-left: 25vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link5 {
    position: relative;
    padding-left: 27vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link6 {
    position: relative;
    padding-left: 31vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

a:visited {
    color: white;
    text-decoration: none;
}

.link1:hover {
    color: #FCC000;
    text-decoration: none;
}

.link2:hover {
    color: #FCC000;
    text-decoration: none;
}

.link3:hover {
    color: #FCC000;
    text-decoration: none;
}

.link4:hover {
    color: #FCC000;
    text-decoration: none;
}

.link5:hover {
    color: #FCC000;
    text-decoration: none;
}

.link6:hover {
    color: #FCC000;
    text-decoration: none;
}

.leftbox {
    position: fixed;
    float: left;
    width: 50vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: table;
    background: #FCC000;
}

.building {
    width: 25vw;
    position: fixed;
    left: 25%;
    top: 53.5%;
    width: 27vw;
    transform: translate(-50%, -50%);
}

.rightbox {
    float: right;
    width: 50vw;
    height: 100vh;
}

.bio {
    font-size: 1.5vw;
    font-family: 'Roboto Mono';
    position: relative;
    top: 15vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 0.5vh;
    line-height: 2;
}


.breen {
    color: darkgrey;
}

.greeting {
    font-size: 2vw;
    font-family: 'Rubik';
    position: relative;
    top: 20vh;
    padding-left: 2.5vw;
    color: #FCC000;
}

.email {
    font-size: 1.5vw;
    position: relative;
    top: 18vh;
    left: 2.5vw;
    font-family: 'Roboto Mono';

}

.m-building {
    display: none;
}

/*-----Mobile responsive----*/

@media only screen and (max-width: 600px) {
    .leftbox {
        display: none;
    }
    .rightbox {
        display
    }


    .bio {
        font-size: 3vw;
        padding: 0;
        top: 65vh;
        width: 80vw;
        margin-left: -40vw;

    }

    .greeting {
        font-size: 5vw;
        padding: 0;
        top: 70vh;
        width: 80vw;
        margin-left: -40vw;
    }

    .email {
        font-size: 4vw;
        top: 68vh;
        width: 80vw;
        margin-left: -43vw;
        padding-bottom: 5vh;

    }

    .m-building {
        display: block;
        width: 50vw;
        position: relative;
        top: -45vh;
        left: -25vw;
    }

    .link1 {
        font-size: 8vw;
        position: relative;
        left: -5vw;
    }
    .link2 {
        font-size: 8vw;
        top: 25vh;
        position: absolute;
        left: -17vw;
    }
    .link3 {
        font-size: 8vw;
        left: 20vw;
        top: 35vh;
        left: -15vw;
        position: absolute;

    }
    .link4 {
        font-size: 8vw;
        top: 45vh;
        left: -17vw;
        position: absolute;
    }
    .link5 {
        font-size: 8vw;
        top: 55vh;
        left: -18vw;
        position: absolute;
    }

    .link6 {
        font-size: 8vw;
        top: 65vh;
        left: -16vw;
        position: absolute;
    }

    #toggle-button {
        font-size: 13vw;
    }
}
