html,
body {
    margin: 0;
    padding: 0;
}

#toggle-button {
    font-size: 4vw;
    font-weight: bold;
    position: fixed;
    right: 0;
    color: black;
    transition: .3s;
    z-index: 4;
    right: 1.3vw;
}

#toggle-button:hover {
    color: greenyellow;
    cursor: pointer;
}

#nav {
    margin: 0;
    padding: 0;
    display: block;
    background-color: black;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 3;
    /* align the box from RIGHT so it changes width from RIGHT */
    width: 0px;
    transition: .5s;
}

.link1 {
    position: relative;
    padding-left: 43vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;
    text-align: center;

}

.link2 {
    position: relative;
    padding-left: 25vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link3 {
    position: relative;
    padding-left: 30vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link4 {
    position: relative;
    padding-left: 25vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link5 {
    position: relative;
    padding-left: 27vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link6 {
    position: relative;
    padding-left: 31vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

a:visited {
    color: white;
    text-decoration: none;
}

.link1:hover {
    color: #FCC000;
    text-decoration: none;
}

.link2:hover {
    color: #FCC000;
    text-decoration: none;
}

.link3:hover {
    color: #FCC000;
    text-decoration: none;
}

.link4:hover {
    color: #FCC000;
    text-decoration: none;
}

.link5:hover {
    color: #FCC000;
    text-decoration: none;
}

.link6:hover {
    color: #FCC000;
    text-decoration: none;
}

.leftbox {
    position: fixed;
    float: left;
    width: 50vw;
    height: 3000px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    transition: 0.3s all;
    background: #FCC000;

}

.nav-marketing1 {
    position: absolute;
    left: 4vw;
    width: 30vw;
    top: 5vh;
    opacity: 0.7;
    display: none;
}

.nav-marketing2 {
    position: absolute;
    left: 66vw;
    width: 30vw;
    top: 55vh;
    opacity: 0.7;
    display: none;
}

.color1 {
    background-color: #9E9E9E;
}

.color2 {
    background-color: #80C197;
}

.color3 {
    background-color: #4173CB;
}

.postergif {
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    transition: 0.3s ease-in-out all;

}

.marketingimage {
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.didotbook {
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.bridgebook {
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.pencilposter {
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.rightbox {
    float: right;
    width: 50vw;
    height: 80vh;
}

.greeting {
    color: black;
    position: relative;
    left: 6vw;
    top: 25vh;
    padding: %;
    font-size: 6vw;
    font-family: 'Rubik';
    font-weight: 800;
}

.scroll {
    position: absolute;
    width: 3vw;
    left: 70vw;
    top: 80vh;
    padding: 5vh;
}

.space {
    float: right;
    height: 100vh;
}

.image1 {
    float: left;
    width: 49vw;
    height: 90vh;
}

.project1 {
    float: right;
    width: 50vw;
    height: 90vh;
}

.project2 {
    float: right;
    width: 50vw;
    height: 90vh;
}

.project3 {
    float: right;
    width: 50vw;
    height: 90vh;
}

.project4 {
    float: right;
    width: 50vw;
    height: 90vh;
}

.project5 {
    float: right;
    width: 50vw;
    height: 90vh;
}

.title1 {
    font-family: 'Rubik';
    font-weight: 500;
    position: relative;
    top: 40vh;
    left: 15%;
    font-size: 3vw;
    font-family: 'Rubik';
    font-weight: 800;
}

.text {
    font-family: 'Roboto Mono';
    position: relative;
    left: 3vw;
    top: 35vh;
    padding: 8%;
    font-size: 1.5vw;
    line-height: 2;
}

.link {
    font-family: 'Roboto Mono';
    position: relative;
    top: 30vh;
    left: 7vw;
    font-size: 1.5vw;
    line-height: 2;
    font-weight: 800;
    color: grey;
}

#explore {
    color: grey;
    text-decoration: underline;
    font-weight: 400
}

#explore:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}

.mobilebox {
    position: relative;
    display: none;
    background-color: #FCC000;
    width: 100vw;
    height: 75vh;
}

.mobilegif {
    display: none;
    width: 80vw;
    position: relative;
    left: 10vw;
    top: 20vw;
}

.mobilebox2 {
    position: relative;
    display: none;
    background-color: white;
    width: 100vw;
    height: 35vh;
}


.m-greeting {
    font-family: 'Rubik';
    font-weight: 800;
    font-size: 9vw;
    text-align: center;
    line-height: 1.5;
}

.mobilebox3 {
    position: relative;
    display: none;
    background-color: #9E9E9E;
    width: 100vw;
    height: 75vh;
}

.m-marketing {
    width: 70vw;
    position: relative;
    top: 13.5vh;
    left: 13.5vw;
}

.mobilebox4 {
    position: relative;
    display: none;
    background-color: #80C197;
    width: 100vw;
    height: 75vh;
}

.m-didot {
    width: 60vw;
    position: relative;
    top: 6vh;
    left: 20vw;
}

.mobilebox5 {
    position: relative;
    display: none;
    background-color: #4173CB;
    width: 100vw;
    height: 75vh;
}

.m-bridge {
    width: 90vw;
    position: relative;
    left: 5vw;
    top: 15vh;
}

.mobilebox6 {
    position: relative;
    display: none;
    background-color: #FFB8B8;
    width: 100vw;
    height: 75vh;
}

.m-pencil {
    position: relative;
    width: 60vw;
    left: 20vw;
    top: 9vh;
}

.mobilebox7 {
    display: none;
    height: 13vh;
}

.contact {
    color: black;
    position: relative;
    font-family: 'Rubik';
    font-size: 8vw;
    text-align: center;
    margin-left: 12vw;
    top: 3vh;
    font-weight: 800;
    text-decoration: none;
}

.contact:visited {
    color: black;
    text-decoration: none;
}



@media only screen and (max-width: 600px) {
    .image1 {
        display: none;
    }
    .leftbox {
        display: none;
    }

    .rightbox {
        display: none;
    }

    .project1 {
        display: none;
    }


    .project2 {
        display: none;
    }


    .project3 {
        display: none;
    }


    .project4 {
        display: none;
    }


    .mobilebox {
        display: block;
    }

    .mobilegif {
        display: block;

    }

    .mobilebox2 {
        display: block;
    }

    .mobilebox3 {
        display: block;
    }

    .mobilebox4 {
        display: block;
    }

    .mobilebox5 {
        display: block;
    }

    .mobilebox6 {
        display: block;
    }

    .mobilebox7 {
        display: block;
    }


    .space {
        height: 0vh;
        display: block;
    }

    .mobilebox7 {
        display: block;
    }

    #nav {
        width: 100vw;

    }

    .link1 {
        font-size: 8vw;
        position: relative;
        left: -5vw;
    }
    .link2 {
        font-size: 8vw;
        top: 25vh;
        position: absolute;
        left: -17vw;
    }
    .link3 {
        font-size: 8vw;
        left: 20vw;
        top: 35vh;
        left: -15vw;
        position: absolute;

    }
    .link4 {
        font-size: 8vw;
        top: 45vh;
        left: -17vw;
        position: absolute;
    }
    .link5 {
        font-size: 8vw;
        top: 55vh;
        left: -18vw;
        position: absolute;
    }

    .link6 {
        font-size: 8vw;
        top: 65vh;
        left: -16vw;
        position: absolute;
    }

    #toggle-button {
        font-size: 13vw;
    }
}
