html,
body {
    margin: 0;
    padding: 0;
}



#toggle-button {
    font-size: 4vw;
    font-weight: bold;
    position: fixed;
    right: 0;
    color: black;
    transition: .3s;
    z-index: 4;
    right: 3vw;
}

#toggle-button:hover {
    color: greenyellow;
    cursor: pointer;
}

#nav {
    margin: 0;
    padding: 0;
    display: block;
    background-color: black;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0;
    z-index: 3;
    /* align the box from RIGHT so it changes width from RIGHT */
    width: 0px;
    transition: .5s;
}

.link1 {
    position: relative;
    padding-left: 43vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;
    text-align: center;

}

.link2 {
    position: relative;
    padding-left: 25vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link3 {
    position: relative;
    padding-left: 30vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link4 {
    position: relative;
    padding-left: 25vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link5 {
    position: relative;
    padding-left: 27vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

.link6 {
    position: relative;
    padding-left: 31vw;
    top: 20vh;
    margin-top: 3vh;
    font-size: 5vw;
    color: white;
    z-index: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Rubik';
    font-weight: 800;
    text-decoration: none;
    letter-spacing: 0.1vw;

}

a:visited {
    color: white;
    text-decoration: none;
}

.link1:hover {
    color: #FCC000;
    text-decoration: none;
}

.link2:hover {
    color: #FCC000;
    text-decoration: none;
}

.link3:hover {
    color: #FCC000;
    text-decoration: none;
}

.link4:hover {
    color: #FCC000;
    text-decoration: none;
}

.link5:hover {
    color: #FCC000;
    text-decoration: none;
}

.link6:hover {
    color: #FCC000;
    text-decoration: none;
}


.bridge {
    width: 90%;
    margin-left: 5vw;
}



.header1 {
    position: relative;
    font-size: 3vw;
    font-family: 'Rubik';
    font-weight: 700;
    width: 90vw;
    margin-left: 35vw;
    margin-top: 15vh;
}

.text1 {
    position: relative;
    font-size: 1.5vw;
    font-family: 'Roboto Mono';
    line-height: 2;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
}

.sketch {
    width: 90%;
    margin-left: 5vw;
    margin-top: 15vh;

}

.bridge1 {
    width: 100%;
    margin-top: 15vh;
}

.bridge2 {
    width: 50%;
    margin-left: 25%;
    margin-top: 15vh;
}


.endspace {
    position: relative;
    height: 20vh;
    width: 100vw;
    top: 190vh;
    background-color: white;

}

.homelink {
    font-size: 1.2vw;
    font-family: 'Roboto Mono';
    color: black;
    position: relative;
    left: 50vw;
    top: 9vh;
}

.footer {
    height: 15vh;
}

.homelink {
    position: relative;
    color: black;
    font-size: 1.2vw;
    font-family: 'Roboto Mono';
    top: 2vh;
    margin-right: 40vw;
    top: 6vh;
}

/*-----Mobile responsive----*/

@media only screen and (max-width: 600px) {

    .bridge {
        width: 110vw;
        top: 20vh;
        margin-left: 0vw;
    }

    .header1 {
        font-size: 5vw;
        margin-left: 20vw;
    }

    .text1 {
        font-size: 3vw;
        margin-left: 8vw;
    }

    .sketch {
        width: 100vw;
        margin-left: 0vw;
    }

    .bridge2 {
        width: 80vw;
        margin-left: 10vw;
    }

    .homelink {
        font-size: 4vw;
        margin-right: 10vw;
    }

}
