html,
body {
    margin: 0;
    padding: 0;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50vw;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 0px;
}

.navposition {
    position: fixed;
    left: 95vw;
    color: red;
    font-size: 1vw;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

a:active {
    color: #FCC000;
}

.header {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: table;

}

.socialmanager {
    width: 40vw;
    position: relative;
    top: 4vh;
    left: 30%;

}

.title {
    font-size: 3vw;
    font-family: 'Rubik';
    font-weight: 700;
    position: relative;
    top: 5%;
    right: 5%;
    margin: auto;

}

.text {
    font-size: 1.5vw;
    font-family: 'Roboto Mono';
    margin-left: 15%;
    margin-right: 11%;
    margin-top: 5%;
    line-height: 2;
}

.responsive {
    width: 50vw;
    position: relative;
}

.seo {
    width: 40vw;
    position: relative;
}

.projecttitle {
    position: absolute;
    margin-left: 40vw;
    font-family: 'Rubik';
    font-size: 3vw;
    font-weight: 600;
    color: grey;
    letter-spacing: 0.2vw;
    margin-top: 10vw;


}

.sketch1 {
    width: 18%;
    position: relative;
    margin-left: 15%;

}

.sketch2 {
    width: 18%;
    position: relative;
    margin-left: 9%;

}

.sketch3 {
    width: 18%;
    position: relative;
    margin-left: 9%;
    margin-top: 25vh;

}

.remarketing {
    width: 40vw;
    margin-left: 32%
}

.sketch4 {
    width: 18%;
    position: relative;
    margin-left: 15%;

}

.sketch5 {
    width: 18%;
    position: relative;
    margin-left: 9%;

}

.sketch6 {
    width: 18%;
    position: relative;
    margin-left: 9%;
    margin-top: 25vh;

}

.socialmedia {
    width: 40vw;
    margin-left: 32%
}

.text2 {
    font-size: 1.5vw;
    font-family: 'Roboto Mono';
    margin-left: 32%;
    margin-top: 5%;
}

.brand {
    width: 45vw;
    position: relative;
    margin-left: 30%;
}

.w3-content {
    max-width: 980px;
    margin: auto;
    left: 8%;

}

.w3-display-container {
    position: relative
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-black {
    color: #fff!important;
    background-color: #000!important;
}

.mySlides {
    border: 1px solid #021a40;
}

.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.w3-display-right {

    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.endspace {
    height: 150px;
    position: relative;

}

.homelink {
    font-size: 1.2vw;
    font-family: 'Roboto Mono';
    color: black;
    position: relative;
    top: 10vh;
    left: 50vw;


}

/*-----Mobile responsive----*/

@media only screen and (max-width: 600px) {
    .ul {
        display: none;
    }
    .socialmanager {
        width: 70vw;
        left: 15vw;
    }

    .title {
        font-size: 5vw;
        position: relative;
        left: 21vw;
        top: -1vh;
        z-index: 3;
    }

    .text {
        font-size: 3vw;
        top: -10vh;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }

    .responsive {
        width: 70vw;
        left: 15vw;
    }

    .seo {
        width: 70vw;
        left: 15vw;
    }

    .projecttitle {
        font-size: 5vw;
        position: relative;
        left: -8vw;
        top: 10vh;

    }

    .sketch1 {
        width: 40%;
        position: relative;
        margin-left: 30%;
        top: 15vh
    }

    .sketch2 {
        width: 40%;
        position: relative;
        margin-left: 30%;
        top: 17vh
    }

    .sketch3 {
        width: 40%;
        position: relative;
        margin-left: 30%;
        top: -6vh
    }

    .remarketing {
        width: 70vw;

    }


}
